<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
    <div class="article-header article-meta archive-header">
      <h1 class="article-title">
        <% if (page.category) {%>
          <%= __('category_with', page.category) %>
          <% } else if (page.tag) {%>
            <%= __('tag_with', page.tag) %>
          <% } else {%>
        <%= __('archive_a') %>
        <% } %>
      </h1>
    </div>
    <div class="archive-content">
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
      <%# Render under article list. %>
        </div>
      <% } %>
      <% last = year; %>
        <h3 class="archive-title-date">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>"></a><%= year %></a>
        </h3>
        <div class="archives">
          <ul class="archive-list">
    <% } %>
    <%- partial('archive-post', {post: post}) %>
  <% }) %>
  <% if (page.posts.length){ %>
  </ul></div>
  <% } %>
<% } %>
<% if (page.total > 1){ %>
  <%- partial('paginator') %>
<% } %>
