<!-- <article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <div class="archive-article-header">
      <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
    </div>
  </div>
</article> -->
<li class="archive-article">
    <a class="archive-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
    <span class="archive-date"><%= date(post.date, "YYYY-MM-DD") %></span>
</li>